<div class="banner_wrap">
    <ul>
        <li><a href="javascript:;"><img src="/static/images/lb_1.jpg"></a></li>
        <li><a href="javascript:;"><img src="/static/images/lb_2.jpg"></a></li>
        <li><a href="javascript:;"><img src="/static/images/lb_3.jpg"></a></li>
        <li><a href="javascript:;"><img src="/static/images/lb_4.jpg"></a></li>
        <li><a href="javascript:;"><img src="/static/images/lb_5.jpg"></a></li>
    </ul>
</div>
<ol>

</ol>
<a href="javascript:;" id="goPrev">&lt;</a>
<a href="javascript:;" id="goNext">&gt;</a>