@import "./component/style.scss";
@import "./component/header.scss";
@import "./component/footer.scss";

main{
    width: 100%;
    height: 822px;
    .main_wrap{
        width: 1243px;
        height: 801;
        margin: 0 auto;
        padding-top: 21px; 
        padding-left: 20px; 
        h4{
            width: 900px;
            height: 12px;
            font-size: 12px;
            color: #999; 
            margin-bottom: 44px;  
            font-weight: normal;
            a{
                float: left;
                margin-right: 6px;
                color: #999; 
            }
            span{
                margin-left: 6px;  
            }
        }
        section{
            width: 870px;
            height: 620px;
            padding-left: 30px; 
            float: left;
            form{
                width: 360px;
                padding-right: 42px; 
                height: 620px;
                float: left; 
                border-right: 1px solid #dadada; 
                h1{
                    height: 28px;
                    font-size: 28px;
                    line-height: 28px;
                    margin-bottom: 20px; 
                    a{
                        color: #000;
                        text-decoration: underline;
                    }
                }
                h2{
                    height: 28px;
                    font-size: 28px;
                    line-height: 28px;
                    margin-bottom: 30px;  
                }
                p{
                    font-size: 14px;
                    height: 14px;
                    line-height: 14px;
                    margin-bottom: 12px;
                    span{
                        color: red;
                    }
                }
                p:nth-of-type(1){
                    border-top: 1px solid #dbdbdb;
                    text-align: center;
                    position: relative;
                    span{
                        position: absolute;
                        color: #000;
                        padding: 0 23px;
                        background-color: #fff;
                        top: -7px;
                        left: 143px;
                    }
                }
                p:nth-of-type(1){
                    span{
                        display: block;
                    }
                }
                label{
                    display: block;
                    width: 362px;
                    height: 100px;
                    font-size: 14px;
                    b{
                        color: red;
                    }
                    input{
                        width: 350px;
                        height: 50px;
                        border: 1px solid #999;
                        // margin-top: 2px;
                        // margin-bottom: 5px;  
                        background-color: #e8f0fe;
                        padding-left: 10px;  
                    }
                    span{
                        color: red;
                    }
                    .hidden{
                        display: none;
                    }
                }
                p:nth-of-type(2){
                    height: 17px;
                    line-height: 17px;
                    margin-top: 20px; 
                    span{
                        width: 15px;
                        height: 15px;
                        border: 1px solid #000;
                        margin-right: 10px; 
                        float: left;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        a{
                            width: 13px;
                            height: 13px;
                            background: #fff;
                        }
                    }
                    b{
                        float: left;
                        font-weight: normal;
                    }
                    a{
                        float: left;
                        color: #000;
                        text-decoration: underline;
                        font-weight: bold;
                    }
                }
                >a{
                    display: block;
                    width: 178px;
                    height: 43px;
                    line-height: 43px;
                    text-align: center;
                    background-color: #000;
                    color: #fff;
                    font-size: 14px;
                    margin-top: 19px;
                    border: 1px solid #000;  
                }
            }
            .main_right{
                width: 401px;
                height: 620px;
                float: left;
                margin-left: 42px; 
                h2{
                    height: 24px;
                    margin-top: 3px;
                    line-height: 24px;
                    font-size: 24px; 
                    margin-bottom: 33px; 
                }
                h3{
                    height: 18px;
                    margin-top: 28px;
                    margin-bottom: 13px;
                    line-height: 18px;
                    font-size: 18px;   
                }
                p{
                    width: 280px;
                    height: 18px;
                    line-height: 18px;
                    font-size: 14px;
                    color: #999;
                }
                p:nth-of-type(1){
                    height: 36px;
                }
                p:nth-of-type(3){
                    height: 36px;
                }
                p:nth-of-type(4){
                    height: 36px;
                }
                a:nth-of-type(1){
                    color: #999;
                    font-size: 14px;
                    text-decoration: underline;
                }
            }
        }
        aside{
            width: 306px;
            height: 231px;
            margin-left: 15px;
            float: left; 
            background: #f2f2f2;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 27px; 
            h3{
                height: 23px;
                line-height: 23px;
                font-size: 23px;
                margin-bottom: 25px; 
            }
            p{
                height: 14px;
                line-height: 14px;
                font-size: 14px;
                margin-bottom: 13px;
                span{
                    margin-right: 6px; 
                    float: left;
                }
                strong{
                    float: left;
                    font-size: 13px;
                }
            }
            a{
                display: block;
                width: 178px;
                height: 43px;
                line-height: 43px;
                text-align: center;
                background-color: #000;
                color: #fff;
                margin-top: 10px; 
                font-size: 14px;
                border: 1px solid #000;
            }
        }
    }
}
